INTERFACES_SERVER = "ftp.fu-berlin.de"
INTERFACES_DIRECTORY = "pub/misc/movies/database/"
#alternative servers:
#ftp://ftp.funet.fi/pub/mirrors/ftp.imdb.com/pub/
#ftp://ftp.sunet.se/pub/tv+movies/imdb/

LISTS = [
    "actors", 
    "actresses",
    "aka-names",
    "aka-titles",
    "directors", 
    "movies",
    "ratings"
]
